{{ $data := index .Site.Data }}
{{ with $data.hero }}
{{ if .enable }}

{{ "<!-- Hero Area -->" | safeHTML }}
<section class="hero-area hero-div-image">
    <div class="container hero-content-up">
        <!-- ####################################################  -->
        <!--              Headings    -->
        <!-- ####################################################  -->

        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    {{ with .main_heading }}
                      <h2 class="hero-heading"> {{ . }}</h2>
                    {{ end }}
                    {{ with .subheading }}
                        <h3 class="hero-subheading"> {{ . | plainify }}</h3>
                    {{ end }}
                </div>
            </div>
        </div>

         <!-- #### END OF Headings    --> 

        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <br><br><br> 
     
                    <!-- ####################################################  -->
                    <!--  MORE MESSAGES  TODO: PM CONF 2026  , I don't do refactor now -->
                    <!-- ####################################################  -->
                    {{ if .show_more_msg }}

                    <h3 style="font-size: x-large; letter-spacing: 0.1em; padding-left: 12px; color: white;">{{.invite_txt}}</h3>


                    <br>
                    <h3 style="font-size: larger; margin-bottom: 16px; background-color: #30374A; color: white; font-weight: normal; width: fit-content; padding-bottom: 0px; padding-left: 12px; padding-right: 12px; padding-bottom: 4px;" >
                          <span style="font-weight: bold; letter-spacing: 2px;"> {{  .day1_title }} </span>
                          <br class="d-md-none d-lg-none">
                          {{ .day1_date }}  </h3>
                    <h3 style="font-size: larger; background-color: #30374A; color: white; font-weight: normal; width: fit-content; padding-bottom: 0px; padding-left: 12px; padding-right: 12px; padding-bottom: 4px;" >
                        <span style="font-weight: bold; letter-spacing: 2px;">{{  .day2_title }} 
                           
                             {{ .day2_title_part2}} </span>
                            <br class="d-md-none d-lg-none">
                             {{ .day2_date }} </h3>

                    {{ end }}
                    <!-- #### END OF Headings    -->                      
                    <br><br> 

                    <!-- ####################################################  -->
                    <!--   TIMER PART  -->
                    <!-- ####################################################  -->

                    {{ with .timer_conf_start_date}} <!-- timer block end -->

                                          <div id="countdown-target" data-date="{{ . }}" style="display: none;"></div>

                                          <div class="timer-wrapper">
                                            <div class="timer-box">
                                              <div class="fs-timer" id="days">00</div>    
                                              <div class="fs-timer-label">Dni</div>
                                            </div>
                                            <div class="timer-box">
                                              <div class="fs-timer" id="hours">00</div>
                                              <div class="fs-timer-label">Godziny</div>
                                            </div>
                                            <div class="timer-box">
                                              <div class="fs-timer" id="minutes">00</div>
                                              <div class="fs-timer-label">Minuty</div>
                                            </div>
                                            <div class="timer-box">
                                              <div class="fs-timer" id="seconds">00</div>
                                              <div class="fs-timer-label">Sekundy</div>
                                            </div>
                                          </div>

                                          {{ $timer := resources.Get "js/timer.js" | resources.Minify | resources.Fingerprint }}
                                          <script src="{{ $timer.RelPermalink }}" defer></script>

                    {{ end }} <!-- ###  timer block end -->
               
                </div>
            </div>

            <!-- ####################################################  -->
            <!--   CALL FOR ACTION || BUTTON   -->
            <!-- ####################################################  -->
            <div class="col-sm-1 d-block d-sm-none d-flex justify-content-center">
                <div class="block"> 
                {{ if .button }}
                 <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                     <li class="list-inline-item">
                        <a href="{{ with .btnURL }}{{.}}{{ end }}" target="_blank" class="btn btn-main2">{{ with .btnText }}{{.}}{{ end }}</a>
                     </li>
                   </ul>
                 {{ end }} 

                 </div>
            </div>

            <div class="col-md-12 d-none d-sm-block">
                <div class="d-none d-sm-block block"> 
                {{ if .button }}
                 <ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
                     <li class="list-inline-item">
                        <a href="{{ with .btnURL }}{{.}}{{ end }}" target="_blank" class="btn btn-main2">{{ with .btnText }}{{.}}{{ end }}</a>
                     </li>
                   </ul>
                 {{ end }} 

                 </div>
            </div>
            
        </div>

        <!-- ####################################################  -->
        <!--               Organizations listing     -->
        <!-- ####################################################  -->
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                    <br> <br> <br>
                     {{ with .org_title}}                         
                        <h5 style="color: white; padding-left: 12px;"> {{ . }}</h5> <br>
                     {{ end }}
                    <div class="row">
                         {{with .org_logo1}}
                        <div class="col-md-6 col-sm-12">
                            <img class="mx-auto d-none d-md-block" style="padding-top: 9px; padding-bottom: 55px;" src="{{ . | absURL }}" alt="logo 1">
                            <img class="mx-auto d-md-none d-sm-block" style="padding-left: 6px; padding-top: 9px; padding-bottom: 55px;" src="{{ .  | absURL }}" alt="logo 1">
                        </div> 
                        {{end}}
                        {{ with .org_logo2}}
                        <div class="col-md-6 col-sm-12">
                            <img class="mx-auto d-none d-md-block" style="padding-left: 50px;"src="{{ .  | absURL }}" alt="logo 2">
                            <img class="mx-auto d-md-none d-sm-block" style="padding-left: 11px;"src="{{ . | absURL }}" alt="logo 2">
                        </div>
                        {{end}}
                    </div>

                </div>
            </div>
        </div>
        <!-- ### end of organization listing block -->

    </div>
</section>
{{ end }}
{{ end }}