{{ if .Params.enable }}

{{ "<!-- Start About Section -->" | safeHTML }}
<section class="about-2 section bg-gray" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                {{ with .Params.attractor }}
                    <h2>{{ . }}</h2>
                {{ end }}
            </div>
            <div class="col-12 col-md-7">
                <p style="color: black !important">
                    {{ .Content | markdownify }}
                </p>
            </div>
        </div>
    </div>
</section>
{{ "<!-- End About section -->" | safeHTML }}
{{ end }}
