{{ define "main" }}

  {{ partial "hero.html" . }}

  <div id="opisKonferencji"></div>

  {{ partial "opis-konferencji.html" . }}

  <div id="Prelegenci"></div>

  {{ partial "prelegenci.html" . }}

  <div id="Prowadzacy"></div>

  {{ partial "speakers.html" . }}

  <div id="Agenda"></div>
  {{ partial "agenda.html" . }}

  <div id="Panel"></div>
  {{ partial "panel.html" . }}

  <div id="Partnerzy"></div>
  {{ partial "partnerzy.html" . }}

  <div id="Zespol"></div>
  {{ partial "team.html" . }}

  <div id="Bilety"></div>
  {{ partial "bilety.html" . }}

  <div id="Call4"></div>
  {{ partial "call_for_papers.html" . }}


   <!-- TODO: ??? -->
  {{ partial "_testimonial.html" . }}

  <!-- TODO: ??? blog ?? -->
  {{ partial "_blog.html" . }}
  
  <div id="Lokalizacja"></div>
  {{ partial "lokalizacja.html" . }}

{{ end }}